*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


/* body{
    height: 5000px;
}
h2{
    position: fixed;
    right: 0;
    top: 0;
} */
/* 

div{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 10px;
}


.div1{
    position: relative;
    left: 100px;
    right: 100px;
    top: 100px;
} */


/* div{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin: 10px;
}

.div1{
    left: 100px;
    top: 200px;
    background-color: red;
    
}
.div2{
    background-color: green;
    position: relative;
    top: 300px;
} */


/* .container{
    width: 100vw;
    min-height: 200vh;
}


.nav{
    width: 100vw;
    height: 13vh;
    background-color: red;
    position: fixed;
    top: 0;
}

.div1 , .div2, .div3 {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.div1{
    margin-top: 400px;
    margin-left: 400px;
}

.div2{
    margin-left: 600px;
}

.div3{
    margin-left: 700px;
} */

/* 
.div1{
    width: 600px;
    height: 600px;
    background-color: red;
    margin-top: 100px;
    margin-left: 100px;
}

.div2{
    width: 400px;
    height: 400px;
    background-color: green;
    position: static;
    margin-top: 100px;
}

.div3{
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    position: absolute;
    top: 10px;
} */


.ctn{
    width: 100vw;
    height: 100vh;
    background-color: red;
}