*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    background-color: red;
}



@media only screen and (max-width:600px ) and (min-width:400px) {
    body{
        background-color: green;
    }
}