*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-ctn{
    width: 100vw;
    height: 100vh;
    background-color: aqua;


    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

